[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[scripts]
shell = "python3 manage.py shell_plus"

[dev-packages]
django-extensions = "~=3.0.9"
werkzeug = "~=1.0.1"

[packages]
django = "~=3.1.2"
psycopg2-binary = "~=2.8.6"
djangorestframework = "~=3.12.1"
dj-database-url = "~=0.5.0"
gunicorn = "*"

[requires]
python_version = "3.7"
